<!DOCTYPE html>
<html ng-app="direwolves">
<head>
  <meta charset="UTF-8">
  <title>Direwolves</title>
  <link href="index.css" rel="stylesheet">
  <link href="node_modules/github-markdown-css/github-markdown.css" rel="stylesheet">
  <link href="node_modules/highlight.js/styles/github.css" rel="stylesheet">
  <script>
    window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
  </script>
  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript" src="doc.js"></script>
</head>
<body ng-controller="mainCtrl">

<div class="bg" ng-show="state"></div>
<div id="conn" class="conn-box" ng-show="state === 1">
  <div>
    <img src="direwolves.png" id="logo">
  </div>
  <div>
    <label for="conn-host">服务器地址：</label>
    <input id="conn-host" ng-model="host" placeholder="127.0.0.1">
  </div>
  <div>
    <label for="conn-port">服务器端口：</label>
    <input id="conn-port" ng-model="port" placeholder="8888">
  </div>
  <div>
    <label for="doc-id">文档标识符：</label>
    <input id="doc-id" ng-model="docid" placeholder="0">
  </div>
  <button id="conn-join" ng-click="join()">开始编辑</button>
</div>

<section id="editor-container">
  <div id="editor" ace ng-model="doc.text"></div>
</section>
<section id="markdown-container">
  <div id="markdown" class="markdown-body" md ng-model="doc.text"></div>
</section>
</body>
</html>
